﻿@model IEnumerable<HRPM.Entities.Models.OrganizationViewModel>
@section Styles
    {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link href="~/css/Organization/OrganizationIndex.css" rel="stylesheet" />
}
<div class="container">
    <div class="row patientsTop infoMargin">
        <div class="col-md-10 float-lg-right">
            <h1 class="pageName">Organizations</h1>
        </div>
        <div class="col-md-2">
            <div class="selectWrapper1">
                <button type="button" class="btn btn-rounded btn-primary" data-toggle="modal" onclick="openAddOrganizationModal()"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Add New</button>
            </div>
        </div>
    </div>
    <!--MSG NO RECORDS-->
    <div class="col-sm-12 text-center msg-no-records">
        No records found.
    </div>
    <!-- The Tbale -->
    <div class="table-curved-sm table-curved-md table-curved-lg table-curved-xl table-curved" id="organization-table">
        <table class="table table-borderless" id="organization-list">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Email
                    </th>

                    <th>
                        Phone
                    </th>
                    <th class="actions">Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="row containerbottom">
            <div class="col-md-4">
                <div class="dropdown">
                    <label for="pages">Entries per page:</label>
                    <select id="pages" onchange="getOrganizations()">
                        <option value="10" selected>10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 justify-content-between">
                <div class="justify-content-md-center">
                    <label class="control-label" for="Total">Total&nbsp;(<label id="total-count"></label>)&nbsp;Showing&nbsp;<label id="page-size"></label></label>
                </div>
            </div>

            <div class="col-md-4 float-md-right">
                <div class="float-md-right">
                    <label id="page-navigation">1 TO 10 of </label>&nbsp;&nbsp;&nbsp;&nbsp;<span onclick="getOrganizations('previous')"><i class="fa fa-chevron-left"></i></span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span onclick="getOrganizations('next')"><i class="fa fa-chevron-right"></i></span>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container">
    <!-- Modal ADDOrganizationOREdit-->
    <div class="modal" id="add-organization-modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h2 class="modal-title pageName">Add New Organization</h2>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4 elementMargin">
                            <label class="control-label" for="name">Name:</label>

                            <input type="text" class="form-control" id="organization-name" placeholder="Enter  Name" name="name" onkeydown="ValidateName($(this))" required>
                        </div>
                        <div class="col-sm-4 elementMargin">
                            <label class="control-label" for="email">Email:</label>

                            <input type="text" class="form-control" id="organization-email" placeholder="Enter Email" name="email" onkeydown="validateEmail($(this).val())" required>
                            <span id="lblError" style="color: red"></span>
                        </div>
                        <div class="col-sm-4 elementMargin">
                            <label class="control-label" for="mobile">Mobile:</label>

                            <input type="text" class="form-control" id="organization-contact" placeholder="Enter Mobile Number" name="mobile" onkeyup="$(this).val($(this).val().replace(/[^\d]/ig, ''))" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 elementMargin">
                            <label class="control-label" for="ownerName">Owner Name:</label>

                            <input type="text" class="form-control" id="organization-ownerName" placeholder="Enter Owner Name" name="ownerName" onkeydown="ValidateName($(this))" required>
                        </div>
                        <div class="col-sm-4 elementMargin">
                            <label class="control-label" for="ownerContactNo">Owner Contact No:</label>

                            <input type="text" class="form-control" id="organization-ownerContact" placeholder="Enter Owner Contact No" name="ownerContactNo" onKeyUp="$(this).val($(this).val().replace(/[^\d]/ig, ''))" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 elementMargin">
                            <label class="control-label" for="address">Address</label>

                            <input type="text" class="form-control" id="organization-address" placeholder="Enter Address" name="address" required>
                        </div>
                        <div class="col-sm-4 elementMargin">
                            <label class="control-label" for="zipCode">Zip Code:</label>

                            <input type="text" class="form-control" id="organization-zipCode" placeholder="Enter Zip Code" name="zipCode" onKeyUp="$(this).val($(this).val().replace(/[^\d]/ig, ''))" required>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer justify-content-lg-center">
                    <button type="button" class="btn btn-rounded btn-default"  id="save-edit-button" onclick="saveOrganization()">Add Organization</button>
                    <button type="button" class="btn btn-rounded btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!--Modal Delete Confiramtion-->
    <div class="modal" id="delete-organization-modal" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Organization confirmation</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger text-center-align">
                        <span class="glyphicon glyphicon-alert confirmation"></span> Deleting the Organization will remove it permanently from HRPM.
                    </div>
                    <p class="text-center-align">Are you sure you want to delete?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="deleteOrganization()">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/js/helper.js"></script>
    <script src="~/js/Constant.js"></script>
    <script src="~/js/Organization/organization.js"></script>
    <script src="~/js/Validation.js"></script>
    <script>
        $(document).ready(function () {
            getOrganizations();
        });
        $('#organization-table').hide();
    </script>
}
