﻿@model HRPM.Entities.Models.Organization
@section Styles
    {
    <link href="~/css/Organization/OrganizationDetails.css" rel="stylesheet" />
}
<div class="container-fluid">
    <div class="organizationDetails infoMargin">
        <h2 class="pageName">Organizations &nbsp;<i class="fa fa-chevron-right"></i>&nbsp;<label id="organizationName">@Model.OrganizationName</label></h2>
    </div>
    <div>
        <h1>@Model.OrganizationName</h1>
    </div>
    <div class="row infoMargin">
        <div class="col-md-2 float-left">
            <span class="float-left"><i class="fa fa-envelope"></i>&nbsp;<label id="organizationEmail">@Model.Email</label></span>
        </div>
        <div class="col-md-10 float-left">
            <span class="float-left"><i class="fa fa-mobile">&nbsp;+</i><label id="organizationContact">@Model.Contact</label></span>
        </div>
    </div>
    <div class=" row infoMargin">
        <div class="col-md-12 float-left">
            <span class="float-left"><i class="fa fa-map-marker fa-2x"></i>&nbsp;<label id="organizationAddress">@Model.Address</label></span>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="tab1" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a id="userstab" href="#Section1" aria-controls="home" role="tab" data-toggle="tab" onclick="getUsers(@Model.Id,'')">Assigned Users</a></li>
                    <li role="presentation"><a  id="patientab" href="#Section2" aria-controls="profile" role="tab" data-toggle="tab" onclick="getPatients(@Model.Id,'')">Assigned Patients</a></li>
                    <li class="nav-item ml-auto">
                        <div class="selectWrapper">
                            <select class="selectBox" id="status" onchange="getData(@Model.Id, '')">
                                <option value="Active" selected>Active</option>
                                <option value="InActive">InActive</option>
                            </select>
                        </div>
                    </li>
                </ul>

                
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active show in " id="Section1">
                        <!--MSG NO RECORDS-->
                        <div class="col-sm-12 text-center msg-no-records">
                            No records found.
                        </div>
                        <!-- The Tabale -->
                        <div class="table-curved-sm table-curved-md table-curved-lg table-curved-xl table-curved" id="user-table">
                            <table class="table table-borderless" id="user-list">
                                <thead>
                                    <tr>
                                        <th>
                                            Name
                                        </th>

                                        <th>
                                            Email
                                        </th>

                                        <th>
                                            Phone
                                        </th>
                                        <th>
                                            Role
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <div class="row containerbottom">
                                <div class="col-md-4">
                                    <div class="dropdown">
                                        <label for="pages">Entries per page:</label>
                                        <select id="userpages" onchange="getUsers(@Model.Id,'')">
                                            <option value="10" selected>10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="50">50</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-content-between">
                                    <div class="justify-content-md-center">
                                        <label class="control-label" for="Total">Total&nbsp;(<label id="total-count"></label>)&nbsp;Showing&nbsp;<label id="page-size"></label></label>
                                    </div>
                                </div>

                                <div class="col-md-4 float-md-right">
                                    <div class="float-md-right">
                                        <label id="userpage-navigation">1 TO 10 of </label>&nbsp;&nbsp;&nbsp;&nbsp;<span onclick="getUsers(@Model.Id,'previous')"><i class="fa fa-chevron-left"></i></span>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span onclick="getUsers(@Model.Id, 'next')"><i class="fa fa-chevron-right"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="Section2">
                        <!--MSG NO RECORDS-->
                        <div class="col-sm-12 text-center msg-no-records">
                            No records found.
                        </div>
                        <!-- The Tabale -->
                        <div class="table-curved-sm table-curved-md table-curved-lg table-curved-xl table-curved" id="patient-table">
                            <table class="table table-borderless" id="patient-list">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Address</th>
                                        <th>Gender</th>
                                        <th>Organization</th>
                                        <th>User</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <div class="row containerbottom">
                                <div class="col-md-4">
                                    <div class="dropdown">
                                        <label for="pages">Entries per page:</label>
                                        <select id="patientpages" onchange="getPatients(@Model.Id,'')">
                                            <option value="10" selected>10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="50">50</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-content-between">
                                    <div class="justify-content-md-center">
                                        <label class="control-label" for="Total">Total&nbsp;(<label id="total-count1"></label>)&nbsp;Showing&nbsp;<label id="page-size1"></label></label>
                                    </div>
                                </div>

                                <div class="col-md-4 float-md-right">
                                    <div class="float-md-right">
                                        <label id="patientpage-navigation">1 TO 10 of </label>&nbsp;&nbsp;&nbsp;&nbsp;<span onclick="getPatients(@Model.Id,'previous')"><i class="fa fa-chevron-left"></i></span>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span onclick="getPatients(@Model.Id, 'next')"><i class="fa fa-chevron-right"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="~/js/helper.js"></script>
    <script src="~/js/Constant.js"></script>
    <script src="~/js/Validation.js"></script>
    @*<script src="~/js/User/user.js"></script>
    <script src="~/js/Patient/Patient.js"></script>*@
<script src="~/js/Organization/OrganizationDeatils.js"></script>

    <script>
    $(window).on("load", function () {
        var orgid = '@(Model.Id)';
        getUsers(orgid,"");
    });
        $('#user-table').hide();
        $('#patient-table').hide();
    </script>


}