﻿@model IEnumerable<HRPM.Entities.Models.Patient>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Patients Details Page</h1>