﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HRPMWeb</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/Common.css" rel="stylesheet" />
    <link href="~/css/Sidebar.css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    @RenderSection("Styles", false)
</head>
<body>
    <div>
        <div class="wrapper d-flex align-items-stretch">
            <!-- Side Bar  -->
            <nav id="sidebar">
                <div class="custom-menu">
                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                </div>
                <div class="p-4">
                    <div class="logo">
                        <img src="/img/person_1.jpg" alt="Upload LOGo" class="img-fluid rounded">
                    </div>
                    <ul class="list-unstyled components mb-5">
                        <li class="active">
                            <a href="#">
                                <i class="fa fa-fw fa-home"></i> Dashboard
                            </a>
                        </li>
                        <li> <a href="#services"><span class="fa fa-fw fa-user mr-3"></span> Patients</a></li>
                        <li> <a asp-action="index" asp-controller="user"><span class="fa fa-fw fa-users mr-3"></span> Users</a></li>
                        <li> <a asp-action="index" asp-controller="organization"><span class="fa fa-fw fa-envelope mr-3"></span> Organizations</a></li>
                        <li><a href="#contact"><span class="fa fa-fw fa-cog mr-3"></span> Settings</a></li>
                        <li><a href="#contact"><span class="fa fa-fw fa-phone-square mr-3"></span> Support</a></li>
                    </ul>

                    <div class="mb-5 logoutbtn">
                        <div class="form-group d-flex">
                            <div class="icon selectWrapper1">
                                <button type="button" class="btn btn-rounded btn-primary"><span class="fa fa-sign-out"></span>Log Out</button>
                            </div>
                        </div>
                    </div>

                    <div class="footer">
                        <p>
                            <h5>Footer</h5>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            <!--Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>-->
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>

                </div>
            </nav>

            <!-- Page Content  -->
            <div id="content" class="p-4  pt-5">
                <div class="row topHeader">
                    <div class="col-md-8 col-lg-8 col-sm-8">
                        <div class="form-group has-search">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input type="text" class="form-control hasTopMargin" placeholder="Search">
                        </div>

                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4 justify-content-right bellUSerIcon ">
                        <div class="hasTopMargin">
                            <span class="float-lg-right">
                                <span class="bellIcon"><i class="fa fa-fw fa-bell"></i></span>
                                <span class="userIcon">USER</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="container-fluid hasTopMarginContainer">
                    <div class="mainContainer">
                        @RenderBody()
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
