﻿.toastr.error {

}
.containerbottom {
    margin-bottom: 10px;
    padding: 5px;
}

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.elementMargin {
    margin-bottom: 15px;
}
