﻿.nav-tabs {
    border-bottom: 0px solid transparent;
}
.tab1 {
    padding-bottom: 60px;
}

    .tab1 li a {
        background: #F9F9F9;
        font-size: 16px;
        font-weight: 600;
        color: #212529;
        padding: 16px 22px;
        border-top: 1px solid;
        border-left: 1px solid;
        border-right: 1px solid;
        border-radius: 10px 10px 0 0;
        margin-right: -1px;
        margin-bottom: -1px;
    }

        .tab1 li a:hover {
            background: #0026ff;
            color: #fff;
        }

    .tab1 .nav-tabs > li.active > a {
        background: #0026ff;
        color: #fff;
        margin-bottom: -1px;
    }

.tab1 .tab-content {
    background: #F9F9F9;
    border: 2px solid;
    color: #5a5c5d;
    font-size: 14px;
    font-weight: 600;
    padding: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 2px;
}
