﻿/*------------------------Name of every page-------------------------------------------------- */
.pageName {
    font-weight: bold;
    letter-spacing: 1px;
}
/*------------------------BOttom margin on poup forms tag-------------------------------------------------- */
.elementMargin {
    margin-bottom: 15px;
}
/*------------------------BOttom margin on Div tag -------------------------------------------------- */
.infoMargin {
    margin-bottom: 10px;
    padding:10px;
}
.selectWrapper {
    padding: 0px !important;
    border-radius: 36px;
    display: inline-block;
    overflow: hidden;
    background: white;
    font-weight: bolder;
    border: 2px solid #00001a;
    padding: 2px !important;
}

.selectBox {
    width: auto;
    height: 30px;
    border: 0px;
    outline: none;
}
/*------------------------table th status Active Inactive-------------------------------*/
.statusActive {
    display: inline-block;
    border-radius: 17px;
    background-color: #007bff;
    line-height: 1.428571 !important;
    margin-top: 10px;
    height: 34px;
    width: 79px;
}

.statusInActive {
    display: inline-block;
    border-radius: 17px;
    background-color: #ccc;
    color: forestgreen;
    line-height: 1.428571 !important;
    margin-top: 10px;
    height: 34px;
    width: 79px;
}
.selectWrapper1 {
    border-radius: 28px;
    display: inline-block;
    overflow: hidden;
    border: 1px solid #00001a !important;
    background: #00001a !important;
    padding: 2px;
}

/*-----------------buttons on every screen for add new close-----------------------*/
.btn-default {
    color: white !important;
    letter-spacing: 1px !important;
    line-height: 15px !important;
    border: 2px solid #00001a !important;
    border-radius: 40px !important;
    transition: all 0.3s ease 0s !important;
    background: #00001a !important;
    height: 40px !important;
}

.btn-default:hover {
    color: #FFF !important;
    background: #00001a !important;
    border: 2px solid rgba(108, 89, 179, 0.75) !important;
}

.btn-danger{
    color: #004085 !important;
    height: 40px !important;
    letter-spacing: 1px !important;
    line-height: 15px !important;
    border: 2px solid #494ca2 !important;
    border-radius: 40px !important;
    background: white !important;
    transition: all 0.3s ease 0s ;
}

.logoutbtn1 {
    width: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
}
/*-----------------table for showing data from api ------------------*/


.table-curved > thead:first-child > tr:first-child > th {
    border-bottom: 0px;
    border-top: solid #ccc 1px;
}


.table-curved > :first-child > :first-child > :first-child {
    border-radius: 6px 0 0 0;
}

.table-curved > :first-child > :first-child > :last-child {
    border-radius: 0 6px 0 0;
}

.table-curved > :last-child > :last-child > :first-child {
    border-radius: 0 0 0 6px;
}

.table-curved > :last-child > :last-child > :last-child {
    border-radius: 0 0 6px 0;
}

@media (max-width: 575.98px) {
    .table-curved-sm {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

        .table-curved-sm > .table-bordered {
            border: 0;
        }
}

@media (max-width: 767.98px) {
    .table-curved-md {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

        .table-curved-md > .table-bordered {
            border: 0;
        }
}

@media (max-width: 991.98px) {
    .table-curved-lg {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

        .table-curved-lg > .table-bordered {
            border: 0;
        }
}

@media (max-width: 1199.98px) {
    .table-curved-xl {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .table-responsive-xl > .table-bordered {
        border: 0;
    }
}

.table-curved {
    display: block;
    width: 100%;
    overflow-x: auto;
    border-collapse: separate;
    border: solid #ccc 1px;
    border-radius: 12px;
    -webkit-overflow-scrolling: touch;
}
