﻿/*search bar*/
.hasTopMargin {
    margin-top: 20px;
}
.hasTopMarginContainer {
    margin-top: 10px auto;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.searchMargin {
    margin-left:30px;
}
.bellUSerIcon {
    /* padding:5px;*/
}
.bellIcon {
    margin-right: 35px;
}
.userIcon {
   padding-right:3px;
}
.topHeader {
    padding: 5px;
    margin-left: 20px !important;
    margin-bottom: 10px auto;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

hr {
  margin-top: -1rem !important;
  margin-bottom: 0px !important;
  border: 0 !important;
  border-top: 1px solid rgba(0,0,0,.1) !important;
}

.mahesh {
    border-bottom: 1px solid;
    border: none;
    margin-top: -21px;
}



